<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Stack</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_v3.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <div id="app">
        <div class="image-container">
            <!-- 半透明按鈕 -->
            <button class="popup-button1" @click="showPopup = true">New update is ready</button>
        </div>

        <!-- 背景遮罩 -->
        <div class="overlay" :class="{ 'show': showPopup }" @click="showPopup = false"></div>

        <!-- 新視窗 -->
        <div class="popup-window" :class="{ 'show': showPopup }">
            <!-- <h2>Popup Window</h2> -->
            <p>Update vehicles with the latest software</p>
            <div class="popup-buttons">
                <button class="close-button" @click="showPopup = false">Close</button>
                <button class="update-button" @click="updateOTAData">Update</button>
            </div>
        </div>

        <div class="container">
            <img :src="plot_3" alt="Plot 3">
            <img :src="plot_2" alt="Plot 2">
            <img :src="plot_1" alt="Plot 1">
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                showPopup: false,
                plot_3: '{{ url_for("static", filename="imgs/plot_3.png") }}?t=' + new Date().getTime(),
                plot_2: '{{ url_for("static", filename="imgs/plot_2.png") }}?t=' + new Date().getTime(),
                plot_1: '{{ url_for("static", filename="imgs/plot_1.png") }}?t=' + new Date().getTime()
            },
            methods: {
                updatePlots() {
                    fetch('/update_plots')
                        .then(response => response.json())
                        .then(data => {
                            this.plot_3 = data.plot_3;
                            this.plot_2 = data.plot_2;
                            this.plot_1 = data.plot_1;
                        });
                },
            },
            created() {
                setInterval(this.updatePlots, 10000); // 每10秒更新一次圖片
            }
        });
    </script>
</body>
</html>
